h1{
    background-color: brown;
    text-decoration: solid;
}

body{
    background-color: orange;
}

#this{
    color: red
}
#thisis{
    color: red;
}

link1{
    color: blue;
}
link2{
    color: blue;
}
